* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

body {
  padding: 50px;
  margin: auto;
  text-align: center;
}
.box {
  margin: auto;
  width:200px;
  height:200px;
  padding-top: 70px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background:#FFC0CB;
  border: 3px solid black;
}